.product-options {
    @include horizontalCenter;
    border-bottom: 0.3rem $color-tertiary solid;
    border-top: 0.3rem $color-tertiary solid;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba($color-primary, 0.15);
}
