.button {
    text-decoration: none;
    display: inline-block;
    transition: all 0.4s; //The transition is in the initial state
    position: relative;
    font-size: $default-font-size;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    width: 10rem;
    height: 5.2rem;

    &:not(:last-child){
        margin-right: 3rem;
    }

    &--white {
        background-color: $color-white;
        color: $color-primary-light;
        border-bottom: 2px solid $color-primary;
        border-right: 2px solid $color-primary;

        &:link,
        &:visited {
            border-bottom: 0.1rem solid $color-primary-light;
        }

        &:hover {
            background-color: $color-primary-light;
        }
    }

    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        padding: 0.3rem;
        transition: all 0.2s;
        outline: none;
    }

    &:hover {
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        transform: translateY(-0.2rem);
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
        transform: translate(0);
    }

    &:focus {
        outline: none;
    }
}
