//COLORS BLUE
$color-primary: #3963D2;
$color-primary-light: #6798EB;
$color-primary-dark: #222FA1;
$color-explosion: #D94D00;
$color-secondary: #ece9e8;
$color-tertiary: #1836B8;
$color-success-light:#71BB8A;
$color-success-dark:#105e2a;
$color-error-light:red;
$color-error-dark:purple;

//COLORS GREEN
/* $color-primary: #035949;
$color-primary-light: #007769;
$color-primary-dark: #002821;
$color-explosion: #D94D00;
$color-secondary: #ece9e8;
$color-tertiary: #002821;
$color-success-light:#71BB8A;
$color-success-dark:#105e2a;
$color-error-light:red;
$color-error-dark:purple; */

$color-black: #000;
$color-white: #fff;

$default-font-size: 1.6rem;

//GRID
$grid-widht: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
