//COLORS
$color-primary: #035949;
$color-primary-light: #007769;
$color-primary-dark: #002821;
$color-explosion: #D94D00;

$color-black: #000;
$color-white: #fff;

$default-font-size: 1.6rem;

//GRID
$grid-widht: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
