//COLORS BLUE
$color-primary: #3963D2;
$color-primary-light: #6798EB;
$color-primary-dark: #222FA1;
$color-explosion: #D94D00;
$secondary-color: #ece9e8;
$tertiary-color: #1836B8;

//COLORS GREEN
/* $color-primary: #035949;
$color-primary-light: #007769;
$color-primary-dark: #002821;
$color-explosion: #D94D00;
$secondary-color: #ece9e8;
$tertiary-color: #3ccbda; */

$color-black: #000;
$color-white: #fff;

$default-font-size: 1.6rem;

//GRID
$grid-widht: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
