.logo {
    color: $color-white;
    font-size: 3rem;
    display: inline-block;
    margin-left: 3rem;
    margin-top: 1rem;
    padding-right: .2rem;
    border-bottom: 2px solid $color-primary-light;
    border-right: 2px solid $color-primary-light;
    text-transform: uppercase;
    letter-spacing: 1rem;
}