.result-notification {
    background-image: linear-gradient(to right bottom, $color-success-dark, $color-success-light);
    opacity: .9;
    margin-top: 1rem;
    padding: 2.5rem;
    border-radius: 1rem;
    color: $color-white;
    font-weight: 800;
    font-size: 2rem;
    position: fixed;
    z-index: 9999;
    width: 100%;

    &.error{
        background-image: linear-gradient(to right bottom, $color-error-light, $color-error-dark);
        text-decoration: none;
    }

    &__element{
        list-style-type: none;
    }
    
    &__close {
        position: absolute;
        top: 1rem;
        right: 2.5rem;
        cursor: pointer;
    }
}
