.header {
    background-image: linear-gradient(to right top, $color-primary-light, $color-primary-dark);
    height: 45vh;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.8);

    .promotion-wrapper {
        position: relative;
        width: 100%;
        height: 80%;
        .promotions {
            @include absCenter;
            width: 50%;
            height: 80%;
        }
    }

    
}
