.promotion{
    color: $color-white;
    padding: 2rem;
    height: 100%;
    width: 100%;
    text-align: center;
    display: table;

    &--left{
        display: table-cell;
        width: 50%;
        vertical-align: middle;
    }

    &--right{
        display: table-cell;
        width: 50%;
        vertical-align: middle;
    }

    &__description {
        color: $color-white;
        font-style: italic;
        font-weight: 800;
        font-size: 2rem;
        width: 50%;
        display: inline-block;
        line-height: 2.2rem;
    }

    &__image{
        width: auto;
        height: 12rem;
    }
}