.carousel {
    text-align: center;
    &__item {
        img{
            height: 30rem;
        }
    }
    &__caption {
        color: $color-secondary;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 800;
    }
}
